body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: white;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  background-image: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 0px 0px 555px/270px 0px;
}

.header-wrap {
  margin-left: 143px;
  width: 680px;
  color: #2c2f3c;
}

.landing-logo {
  padding-top: 19px;
  display: flex;
  font-family: "Hind", sans-serif;
}
.landing-logo img {
  width: 41px;
  height: 41px;
}
.landing-logo p {
  margin-left: 14px;
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  font-family: inherit;
}
.landing-logo p span {
  border: 1px solid transparent;
  text-align: center;
  font-size: 10px;
  margin-top: -9px;
}

.header_heading {
  position: relative;
  margin-top: 62px;
  color: #2c2f3c;
  font-size: 4em;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.1em;
  letter-spacing: 1px;
  z-index: 2;
}
.header_heading::after {
  content: "";
  position: absolute;
  top: 90px;
  right: auto;
  bottom: auto;
  left: 0;
  height: 45px;
  width: 280px;
  background-color: #14a0c7;
  z-index: -1;
}

.header_text {
  color: #2c2f3c;
  white-space: pre-line;
  margin-top: 30px;
  line-height: 1.4em;
}

.header-wrap div:last-child {
  margin-top: 57px;
  padding-bottom: 160px;
  display: flex;
  align-items: center;
}

.header_button, .section_banner_button {
  color: white;
  background-color: #699900;
  padding: 14px 38px;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
}

.login {
  color: white;
  margin-left: 140px;
  text-decoration: underline;
  font-size: 1.2em;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_text {
  position: relative;
  padding: 35px 0;
  letter-spacing: -0.5px;
  color: #2c2f3c;
  font-size: 2.5em;
  font-weight: 600;
  font-family: inherit;
}
.section_text::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 10px;
  bottom: auto;
  left: auto;
  height: 45px;
  width: 177px;
  background-color: #14a0c7;
  z-index: -1;
}

.section_card_wrap {
  width: 835px;
}

.section_card {
  color: white;
  display: flex;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 23px;
  background-color: #21232e;
}

.section_card_img {
  border-radius: 10px;
  width: 35%;
}

.section_card_right_container {
  padding: 0 75px;
  width: 65%;
  text-align: center;
  color: #c0c3ce;
}

.section_card_heading {
  color: white;
  margin-top: 25px;
  font-size: 1.4em;
  font-weight: 600;
  font-family: inherit;
}

.section_card_text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: inherit;
  font-family: "Hind", sans-serif;
  text-align: justify;
  line-height: 22px;
}

.section_link {
  display: block;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 28px;
  color: #c0c3ce;
}

.section_banner {
  padding: 25px 0;
  margin-top: 105px;
  width: 885px;
  background: linear-gradient(to left, #2b59dc, #61911b);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_banner_heading {
  position: relative;
  z-index: 2;
  letter-spacing: 1.5px;
  font-size: 1.6em;
  font-weight: 600;
  font-family: inherit;
  margin-bottom: 18px;
  color: #2c2f3c;
}
.section_banner_heading::after {
  content: "";
  position: absolute;
  top: -15px;
  right: auto;
  bottom: auto;
  left: 113px;
  height: 45px;
  width: 60px;
  background-color: #14a0c7;
  z-index: -1;
}

.section_banner_text {
  margin-bottom: 15px;
  color: white;
}

.section_banner_button {
  margin-left: 185px;
}

.footer {
  background-color: #21232e;
  padding: 50px 143px;
  margin-top: -70px;
}

.footer-wrap {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c0c3ce;
  font-family: "Hind", sans-serif;
}

.footer_logo {
  padding-top: 0px;
}

.footer_text {
  width: 285px;
  line-height: 1.5em;
  font-size: 0.8em;
}

.footer-cr {
  font-size: 0.9em;
}