* {
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    border: none;
    outline: none;
    background: transparent;
}

section {
    position: relative;
    background-color: white;
}

.section__header {
    font-size: 2em;
    text-align: right;
    text-transform: uppercase;
    padding: 10px;
    background-color: grey;
}

#root {
    position: relative;
    max-width: 1350px !important;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.dynamicSection,
.section__books {
    width: 660px;
    margin: 30px 0;
    padding: 25px;
    border: 1px solid grey;
}

.books__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-right: -5px;
}

.books__item {
    width: 120px;
    position: relative;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 8px black;
    border: 1px solid grey;
}

.books__item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
}

.books__item h3 {
    font-family: Times New Roman, serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 5px;
    margin-bottom: -5px;
}

.books__item img {
    width: 100%;
}

.books__item button {
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    margin: 5px;
    font-weight: bold;
    font-size: 11px;
    background-color: white;
}

.books__item button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-shadow: 1px 1px 4px black;
    cursor: pointer;
}

.books__item-addButton {
    box-shadow: none;
}

.books__item-addButton button {
    font-size: 1.3em;
    width: 100%;
    min-height: 220px;
    margin: 0;
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.5), inset -4px -4px 6px rgba(0, 0, 0, 0.5);
}

.books__item-addButton button:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}

.section__dynamic {
    display: flex;
}

.dynamic__image-block {
    max-width: 160px;
    height: 240px;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/6/60/No_Picture.jpg');
    background-position: center;
    flex-grow: 1;
}

.dynamic__image-block img {
    width: 160px;
}

.dynamic__description {
    margin-left: 25px;
    flex-grow: 1;
}

.dynamic__description-item {
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 1.2em;
    margin-top: 15px;
    font-style: italic;
}

.dynamic__description-item:last-child {
    align-items: flex-start;
}

.dynamic__description-item h2 {
    font-size: 18px;
}

.dynamic__description-item b {
    margin-right: 15px;
    text-decoration: underline;
    font-style: normal;
    float: left;
}

.dynamic__description-item label {
    width: 35%;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
    float: left;
}

.dynamic__description-item input {
    width: 65%;
    border: none;
    background-color: lightgrey;
    padding: 2px;
}

.dynamic__description-item p {
    font-size: 1em;
    text-align: justify;
}

.dynamic_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dynamic__buttons {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dynamic__button {
    display: block;
    padding: 10px 40px;
    border-radius: 0;
    border: 2px solid grey;
    background-color: white;
    font-size: 1.3em;
    font-weight: 600;
}

.dynamic__button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-shadow: 1px 1px 4px black;
    cursor: pointer;
}