$fontMain: 'Source Sans Pro', sans-serif;
$fontText:  'Fresca', sans-serif;

$colorFont1: rgb(255,255,255);
$colorFont2: rgb(192,195,206);

$colorSpanBox: rgb(255,78,51);
$colorLinkBox: rgb(227,172,0);
$colorMainBox: rgb(33,35,46);
$colorFooterBox: rgb(59,63,80);

$mainImgURL: url("../img/m-h-night.jpg");

$leftColorGradient: rgb(218, 158, 10);
$rightColorGradient: rgb(146, 43, 83);