* {
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

body {
    position: relative;
    font-family: 'PT Serif', serif;
    font-size: 15px;
    color: rgba(61, 55, 61, 0.7);
    width: 100%;
}

.body__wrapper {
    position: relative;
}

.header {
    background-color: white;
    z-index: 1000;
    width: 100%;
    height: 9.1vh;
    padding: 0 13%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-stretch: expanded;
    padding: 0 20px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 1px rgba(61, 55, 61, 0.7);
}

.header__nav {
    position: relative;
}

.header__list {
    display: flex;
}

.header__item {
    padding: 0 20px;
}

.header__link {
    color: rgba(61, 55, 61, 0.7);
    letter-spacing: 1px;
    font-weight: bolder;
}

.header__link:hover {
    color: #bfba55;
}

.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroSection {
    position: relative;
    margin-top: 9.1vh;
    width: 100%;
    height: 90.9vh;
    background-image: url(..//img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.heroSection:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
}

.heroSection__wrapper {
    position: relative;
    z-index: 2;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroSection__header {
    margin-top: 285px;
    text-align: center;
}

.heroSection__title {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
    text-shadow: 0px 0px 1px white;
}

.heroSection__text {
    font-size: 13px;
    margin-top: 10px;
    color: #bfba55;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.heroSection__footer {
    display: flex;
    align-items: center;
    margin-top: 44px;
    padding: 13px 22px;
    border-radius: 50px;
    background-color: white;
}

.heroSection__link {
    letter-spacing: 1.3px;
    font-size: 10px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
}

.heroSection__footer:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #bfba55;
}

.heroSection__footer:hover .heroSection__link {
    color: #bfba55;
}

.article {
    position: relative;
    margin-top: 115px;
    width: 840px;
    display: flex;
    flex-direction: column;
}

.article__img {
    width: 100%;
}

.article__header {
    margin-top: 21px;
}

.article__title {
    color: black;
    font-size: 1.6em;
    letter-spacing: 1.4px;
}

.article__inform {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.article__link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-weight: bolder;
    color: rgba(61, 55, 61, 0.7);
    font-size: 0.9em;
    margin-right: 15px;
}

.article__link-name:hover {
    color: #bfba55;
}

.article__link-name {
    margin-left: 10px;
}

.article__link-img {
    border-radius: 50px;
    width: 37px;
}

.article__link-img:hover {
    box-shadow: 0 0 0 2px #bfba55;
}

.article__time {
    margin-right: 10px;
}

.icon {
    display: inline-block;
    width: 0.8em;
    height: 20px;
    fill: rgba(61, 55, 61, 0.7);
    margin-right: 5px;

}

.article__comments {}

.article__main {
    font-size: 0.9em;
    line-height: 1.7em;
    letter-spacing: 0.4px;
    margin-top: 22px;
}

.article__description {}

.article__footer {
    margin-top: 35px;
}

.article__button {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    border-radius: 50px;
    border: 1px solid rgba(61, 55, 61, 0.7);
    color: rgba(61, 55, 61, 0.7);
    font-weight: bolder;
}

.article__button:hover {
    color: #bfba55;
    cursor: pointer;
    border: 1px solid #bfba55;
}

.footer {
    background-color: black;
    margin-top: 90px;
    padding: 84px 0;
    color: grey;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.footer__wrapper {
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__inform {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer__title {
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
}

.footer__text {
    margin-top: 10px;
    line-height: 1.7em;
}

.footer__copyright {
    margin-top: 22px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.footer__address,
.footer__telNumber,
.footer__email {
    color: grey;
    margin-top: 13px;
}