$fontMain: 'Source Sans Pro', sans-serif;
$fontText:  'Hind', sans-serif;

$colorFont1: rgb(44,47,60);
$colorFont2: rgb(192,195,206);


$colorSpanBox: rgb(20,160,199);
$colorLinkBox: rgb(105,153,0);
$colorMainBox: rgb(255,255,255);
$colorFooterBox: rgb(33,35,46);

$mainImgURL: url("../img/m-h-day.jpg");

$leftColorGradient: rgb(97, 145, 27);
$rightColorGradient: rgb(43, 89, 220);